@using Eron.core.App_GlobalResources
@using Eron.web.Helpers

<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="/Content/admin/img/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">محمد رباطی</strong>
                            </span> <span class="text-muted text-xs block">برنامه نویس وب<b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInLeft m-t-xs">
                        <li><a href="profile.html">پروفایل</a></li>
                        <li><a href="contacts.html">مخاطبان</a></li>
                        <li><a href="mailbox.html">ایمیل</a></li>
                        <li class="divider"></li>
                        <li><a href="login.html">خروج</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    E
                </div>
            </li>
            <li class="active">
                <a href="@Url.Action("IndexPartial","Dashboard")" data-ajax-success="whitenav" data-ajax-update="#mainpanel" data-ajax-mode="replace" data-ajax="true"><i class="fa fa-th-large"></i> <span class="nav-label">داشبورد</span></a>
            </li>
            <li>
                <a href="dashboard_5.html#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">آمارگیری</span></a>
            </li>
            <li>
                <a href="mailbox.html"><i class="fa fa-envelope"></i> <span class="nav-label">ایمیل</span><span class="label label-warning pull-left">16/24</span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="mailbox.html">صندوق ورودی</a></li>
                    <li><a href="mail_detail.html">نمایش ایمیل ها</a></li>
                    <li><a href="mail_compose.html">ارسال ایمیل</a></li>
                </ul>
            </li>
            <li>
                <a href="metrics.html"><i class="fa fa-pie-chart"></i> <span class="nav-label">محصولات</span>  </a>
            </li>
            @*<li>
                <a href="widgets.html"><i class="fa fa-flask"></i> <span class="nav-label">افزونه ها</span></a>
            </li>*@
            <li>
                <a href="#"><i class="fa fa-puzzle-piece"></i> <span class="nav-label">@GlobalResources.Utilities</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="#"><span class="nav-label">@GlobalResources.Slides</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level collapse">
                            <li>@Ajax.DefaultLink(GlobalResources.AllSlides, "Index", "Slider", true)</li>
                            <li>@Ajax.DefaultLink(GlobalResources.CreateSlide, "Create", "Slider", true)</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="dashboard_5.html#"><i class="fa fa-edit"></i> <span class="nav-label">کاربران</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="form_basic.html">کاربران معمولی</a></li>
                    <li><a href="form_advanced.html">کاربر ارشد</a></li>
                    <li><a href="form_wizard.html">مدیران سایت</a></li>
                    <li><a href="form_file_upload.html">مدیریت فروشگاه ها</a></li>
                </ul>
            </li>
            <li>
                <a href="dashboard_5.html#"><i class="fa fa-desktop"></i> <span class="nav-label">خرید ها</span>  <span class="pull-left label label-primary">جدید</span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="contacts.html">در حال ارسال</a></li>
                    <li><a href="profile.html">ثبت شده</a></li>
                    <li><a href="profile_2.html">رسیده</a></li>
                    <li><a href="contacts_2.html">کنسل شده</a></li>
                    <li><a href="projects.html">بازگشت داده شده</a></li>
                    <li><a href="project_detail.html">مواجه با مشکل</a></li>
                </ul>
            </li>
            <li>
                <a href="dashboard_5.html#"><i class="fa fa-file"></i> <span class="nav-label">@GlobalResources.Pages</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>@Ajax.DefaultLink(GlobalResources.AllPages, "Index", "Page", true)</li>
                    <li>@Ajax.DefaultLink(GlobalResources.CreatePage, "Create", "Page", true)</li>
                </ul>
            </li>
            <li>
                <a href="dashboard_5.html#"><i class="fa fa-files-o"></i> <span class="nav-label">محتوا</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>@Ajax.DefaultLink(GlobalResources.AllContent, "Index", "Content", true)</li>
                    <li>@Ajax.DefaultLink(GlobalResources.CreateContent, "Create", "Content", true)</li>
                    <li>@Ajax.DefaultLink(GlobalResources.AllCategories, "Index", "ContentCategory", true)</li>
                    <li>@Ajax.DefaultLink(GlobalResources.CreateCategory, "Create", "ContentCategory", true)</li>
                </ul>
            </li>
            <li>
                <a href="dashboard_5.html#"><i class="fa fa-flask"></i> <span class="nav-label">تنظیمات</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="typography.html">تنظیمات اصلی</a></li>
                    <li>@Ajax.DefaultLink(GlobalResources.LanguageSetting, "Index", "Language", true)</li>
                    <li><a href="typography.html">تنظیمات فروشگاه</a></li>
                    <li><a href="icons.html">خبرنامه</a></li>
                    <li>@Ajax.DefaultLink(GlobalResources.MenuSettings, "Index", "Menu", true)</li>
                    <li><a href="resizeable_panels.html">اسلایدر</a></li>
                    <li><a href="buttons.html">فوتر</a></li>
                </ul>
            </li>

            <li>
                <a href="grid_options.html"><i class="fa fa-laptop"></i> <span class="nav-label">تخلفات</span></a>
            </li>
            <li>
                <a href="dashboard_5.html#"><i class="fa fa-table"></i> <span class="nav-label">حساب ها</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="table_basic.html">تسویه شده</a></li>
                    <li><a href="table_data_tables.html">شناور</a></li>
                    <li><a href="table_foo_table.html">امروز</a></li>
                    <li><a href="jq_grid.html">این هفته</a></li>
                    <li><a href="jq_grid.html">بر اساس فروشگاه</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>