@using Eron.core.App_GlobalResources
@using Eron.web.Helpers
@model Eron.web.Areas.admin.Models.Navigation.MenuCreate

@using (Ajax.DefaultForm("Create", "Menu", FormMethod.Post, null, null, GlobalResources.CreateMenu))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-12">
                @*@Html.CheckBoxAddOn("IsSubMenu", GlobalResources.SubMenu, false, CheckBoxType.primary)*@
                <input id="IsSubMenu" type="checkbox" class="js-switch" name="IsSubMenu" />
                <label for="IsSubMenu">@GlobalResources.SubMenu</label>
                @Html.ValidationMessageFor(model => model.IsSubMenu, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-12">
                <select id="linkSelect" class="form-control">
                    <option value="">@GlobalResources.ChooseLinkTypeToConnect</option>
                    <option value="1">@GlobalResources.Page</option>
                    <option value="2">@GlobalResources.Content</option>
                    <option value="3">@GlobalResources.Category</option>
                    <option value="4">@GlobalResources.Gallery</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.PlaceHolderFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">

            <div class="col-md-12">
                @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.MenuId, null, GlobalResources.ParentMenu, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MenuId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.Page, null, GlobalResources.ChooseCategory, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                <select id="contentSelect" class="form-control">
                    <option value="">@GlobalResources.ChooseContent</option>
                </select>
                @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-12">
                @Html.DropDownListFor(model => model.Page, null, GlobalResources.ChoosePage, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Page, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group">
            @Html.LabelFor(x => x.Target, new { @class = "control-label col-md-6" })
            <div class="col-md-6">
                <div class="radio radio-primary">
                    <input type="radio" name="Target" id="radio1" value="true" checked="">
                    <label for="radio1">
                        @GlobalResources.NewPage
                    </label>
                </div>
                <div class="radio radio-primary">
                    <input type="radio" name="target" id="radio2" value="false">
                    <label for="radio2">
                        @GlobalResources.CurrentPage
                    </label>
                </div>
                @Html.ValidationMessageFor(model => model.Target, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="text-left col-md-12">
                <input type="submit" value="@GlobalResources.Create" class="btn btn-success btn-block" />
            </div>
        </div>
    </div>
}