@using Eron.core.App_GlobalResources

@{ UICulture = Culture = "fa";}
@Html.Action("BreadCrump", "Dashboard", new { title = ViewBag.Title, parent = GlobalResources.Settings, mid = GlobalResources.Menus, last = GlobalResources.AllMenus, url = Url.Action("Index", "Menu"), nav = true })

<div class="wrapper wrapper-content fade">
    <div class="">
        <div class="row">
            
            <div class="col-lg-6">
                <div class="ibox">
                    <div class="ibox-heading">
                        <h5 class="ibox-title">@GlobalResources.AllMenus</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        @Html.Action("List")
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="ibox">
                    <div class="ibox-heading">
                        <h5 class="ibox-title">@GlobalResources.AllMenus</h5>
                    </div>
                    <div class="ibox-content">
                        @Html.Action("Create")
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
