@using Eron.core.App_GlobalResources
@using Eron.web.Helpers
@model IEnumerable<Eron.web.Areas.admin.Models.Page.PageList>

@{ UICulture = Culture = "fa";}
@Html.Action("BreadCrump", "Dashboard", new { title = ViewBag.Title, parent = GlobalResources.PageManagement, mid = GlobalResources.Pages, last = GlobalResources.AllPages, url = Url.Action("Index", "Page"), nav = true })

<div class="wrapper wrapper-content fade">
    <div class="">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content no-padding">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Title)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PageUrl)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UserName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreateTime)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Language)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PageUrl)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreateTime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Language)
                                            </td>
                                            <td>
                                                @Html.OptionBox("Page", "admin", item.Id)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
