@using Eron.core.App_GlobalResources
@using Eron.web.Helpers
@model Eron.web.Areas.admin.Models.Language.LanguageCreate
@{ UICulture = Culture = "fa";}
@Html.Action("BreadCrump", "Dashboard", new { title = ViewBag.Title, parent = GlobalResources.Settings, mid = GlobalResources.LanguageSetting, last = GlobalResources.AllLanguages, url = Url.Action("Index", "Content"), nav = false })


<div class="wrapper wrapper-content fade">
    <div class="">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h3>@GlobalResources.CreateLanguage</h3>
                    </div>
                    <div class="ibox-content">
                        @using (Html.CreateUploadForm("Language","Create",FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.LocalName, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.LocalName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.LocalName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.EnglishName, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.EnglishName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.EnglishName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.FlagUrl, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.FileInput("image")
                                        @Html.ValidationMessageFor(model => model.FlagUrl, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.LanguageCode, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.LanguageCode, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.LanguageCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="@GlobalResources.Create" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        }
                        @Html.CreateFormScript("Language","admin",GlobalResources.CreateLanguage)
                        <div>
                            @Ajax.DefaultLink(GlobalResources.BackToList, "Index", "Language", true)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
